html {
  min-height: 100%;
}

h1, h2, h3, h4, h5, ul, li, p, a {
  margin: 0;
  text-align: center;
}

.blanco {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
  min-height: 100%;
  padding-bottom: 5rem;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.one-half.column {
  width: 48%;
  margin: 1%;
}

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.button-primary {
  color: #fff;
  background-color: #33C3F0;
  border-color: #33C3F0;
}

.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

input[type="text"],
textarea {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}